
@{
    ViewBag.Title = "About";

}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Developed By</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <a href="https://www.linkedin.com/in/glizzel-ann-toledo-b66000152/">
                        Glizzel Ann E. Toledo
                    </a>
                    <br />
                    <span class="badge">2017-07 - 2017-11</span>
                </li>
                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <a href="https://ph.linkedin.com/in/adrianne-claude-tubig-a4847333">
                        Adrianne Claude R Tubig
                    </a>
                    <br />
                    <span class="badge">2017-03 - 2017-10</span>
                </li>
                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <a href="https://www.linkedin.com/in/jamiedianne-antazo-769137157/">
                        Jamie Dianne Antazo
                    </a>
                    <br />
                    <span class="badge">2017-11-20 </span>
                </li>
                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <a href="http://www.linkedin.com/in/gian-carlo-esguerra">
                        Gian Carlo Esguerra
                    </a>
                    <br />
                    <span class="badge">2017-11-20 </span>
                </li>
                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <a href="https://www.linkedin.com/in/sherell-teruel-63b138157/">
                        Sherell Teruel
                    </a>
                    <br />
                    <span class="badge">2017-11-20 </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Updates</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" data-toggle="collapse" data-target="#2017-11-19">
                    November 19 2017
                    <ul id="2017-11-19" class="collapse">
                        <li>
                            Refactored Business Logic
                        </li>
                    </ul>
                </li>
                <li class="list-group-item" data-toggle="collapse" data-target="#2017-11-16">
                    November 16 2017
                    <ul id="2017-11-16" class="collapse">
                        <li>
                            Create About Page
                        </li>
                    </ul>
                </li>
                <li class="list-group-item" data-toggle="collapse" data-target="#2017-11-09">
                    November 9 2017
                    <ul id="2017-11-09" class="collapse">
                        <li>
                            Added CRUD
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
