@{
    ViewBag.Title = "Time In & Time out";
    
}

<div class="form-group">
    <center><h2>Time In</h2></center>
    <br />

</div>
<div class="card container">
    <center>
        <div class="form-group"></div>
        <div class="form-group">
            <div class="row col-md-12">
                <div class="col-md-2">
                    <label for="name">Lastname:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Lastname" value="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row col-md-12">
                <div class="col-md-2">
                    <label for="name">Firstname:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Firstname" value="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row col-md-12">
                <div class="col-md-2">
                    <label for="name">Time in:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="timein" name="timein" placeholder="Time in" value="">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row col-md-12">
                <div class="col-md-2">
                    <label for="name">Time out:</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="timeout" name="timeout" placeholder="Time out" value="">
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" name="timein" id="timein" class="btn btn-primary">
        </div>

    </center>
</div>
