
@{
    ViewBag.Title = "About";
   
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Developed By</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/glizzel-ann-toledo-b66000152/">
                    Glizzel Ann E. Toledo
                 </a>
                    <br />
                    <span class="badge">2017-07 - 2017-11</span>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Updates</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-11-03">
                November 16 2017
                <ul id="2017-11-03" class="collapse">
                    <li>
                        Create About Page
                    </li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-11-02">
                November 9 2017
                <ul id="2017-11-02" class="collapse">
                    <li>
                        Added CRUD
                    </li>
                </ul>
            </li>
            </ul>
        
    </div>
    </div>

