
<input type="hidden" name="AttendanceId" value="@Model.AttendanceId" />
@{
    Html.RenderPartial("_AuditColumns");
}
<div class="form-group">
    <label for="TimeIn">TimeIn</label>
    <input type="datetime-local" class="form-control" id="TimeIn" name="TimeIn" placeholder="TimeIn" value="@Model.TimeInString">
</div>
<div class="form-group">
    <label for="TimeOut">TimeOut</label>
    <input type="datetime-local" class="form-control" id="TimeOut" name="TimeOut" placeholder="TimeOut" value="@Model.TimeOutString">
</div>

@if (Model.CreatedBy == Model.UserId)
{
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
}

<div ng-controller="WorkLogController as model" ng-init="model.Initialise(@Model.AttendanceId)">
    <div class="form-group"  ng-repeat="workLog in model.WorkLogs track by $index">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-7">
                <input class="form-control" ng-readonly="model.IsExisting(workLog)" name="WorkLogs[{{$index}}].WorkDone" placeholder="WorkDone" ng-value="workLog.WorkDone">
            </div>
            @if (Model.CreatedBy == Model.UserId)
            {
                <div class="col-sm-4">
                    <button type="button" ng-click="model.Delete(workLog)" class="btn btn-primary">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </div>
            }
        </div>
        <input type="hidden" name="WorkLogs[{{$index}}].WorkLogId" ng-value="workLog.WorkLogId" />
    </div>
    <div ng-repeat="deletedWorkLog in model.DeletedWorkLogs track by $index" type="hidden" name="DeletedWorkLogs[{{$index}}].WorkLogId" ng-value="deletedWorkLog.WorkLogId">
        <input type="hidden" name="DeletedWorkLogs[{{$index}}].AttendanceId" ng-value="deletedWorkLog.AttendanceId" />
        <input type="hidden" name="DeletedWorkLogs[{{$index}}].WorkLogId" ng-value="deletedWorkLog.WorkLogId" />
        <input type="hidden" name="DeletedWorkLogs[{{$index}}].WorkDone" ng-value="deletedWorkLog.WorkDone" />
    </div>
    @if (Model.CreatedBy == Model.UserId)
    {
        <input type="button" ng-click="model.Create()" class="btn btn-primary" value="Add Work Done" />
    }
</div>