
<input type="hidden" name="AttendanceId" value="@Model.AttendanceId" />
@{
    Html.RenderPartial("_AuditColumns");
}

<div class="form-group">
    <label for="TimeIn">TimeIn</label>
    <input type="datetime-local" class="form-control" id="TimeIn" name="TimeIn" placeholder="TimeIn" value="@Model.TimeIn.ToString("yyyy-MM-ddTHH:mm")">
</div>
<div class="form-group">
    <label for="TimeOut">TimeOut</label>
    <input type="datetime-local" class="form-control" id="TimeOut" name="TimeOut" placeholder="TimeOut" value="@Model.TimeOut.ToString("yyyy-MM-ddTHH:mm")">
</div>
<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>