@using AndersonWorkLogsModel;
@model AttendanceFilter

@{
    ViewBag.Title = "Index";
}

<div ng-controller="AttendanceController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../Attendance/Create" class="btn btn-default">Create</a>
            <a ng-click="model.ApproveSelected()" class="btn btn-default">Approve</a>
        </div>
        <div class="col-sm-4 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" data-toggle="collapse" data-target="#Filter">Filters</h3>
                </div>
                <div class="panel-body collapse" id="Filter">
                    <div>
                        <div>
                            <label>TimeInFrom</label>
                            <input type="date" class="form-control" ng-model="model.AttendanceFilter.TimeInFrom">
                        </div>
                        <div>
                            <label>TimeInTo</label>
                            <input type="date" class="form-control" ng-model="model.AttendanceFilter.TimeInTo">
                        </div>
                        <div ng-controller="EmployeeController as employeeModel" ng-init="employeeModel.Initialise()">
                            <label>EmployeeUnder</label>
                            <ui-select multiple ng-model="model.AttendanceFilter.ManagerEmployee">
                                <ui-select-match placeholder="Select Employee..." style="width: 100%">
                                    <span ng-bind="$select.selected.FullName"></span>
                                    {{$item.FullName}}
                                </ui-select-match>
                                <ui-select-choices repeat="employee in (employeeModel.Employees | filter: $select.search) track by $index">
                                    <span ng-bind="employee.FullName"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <a ng-click="model.FilteredRead()" class="btn btn-default">TryF</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">
                        <th><input type="checkbox" ng-click="model.ToggleAll()" ng-model="model.isAllSelected" /></th>
                        <th>ID #</th>
                        <th>Username</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Total Hours</th>
                        <th>Fullname</th>
                        <th>Manager name</th>
                        <th>ApprovedBy</th>
                        <th>Approved Date</th>
                        <th>Approved</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="attendance in model.Attendances" ng-click="$event.originalEvent.dropdown">
                        <td><input type="checkbox" ng-model="attendance.Selected" ng-change="model.CheckboxToggled()" /></td>
                        <td><span ng-bind="attendance.AttendanceId" /></td>
                        <td><span ng-bind="attendance.User.Username" /></td>
                        <td><span ng-bind="attendance.TimeIn" /></td>
                        <td><span ng-bind="attendance.TimeOut" /></td>
                        <td><span ng-bind="attendance.Hours" /></td>
                        <td><span ng-bind="attendance.Employee.FullName" /></td>
                        <td><span ng-bind="attendance.Manager.FullName" /></td>
                        <td><span ng-bind="attendance.ApprovedBy" /></td>
                        <td><span ng-bind="attendance.ApprovedDate" /></td>
                        <td><span ng-bind="attendance.Approved" /></td>
                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.Approve(attendance.AttendanceId)">Approve</a></li>
                                    <li><a href="#" ng-click="model.GoToUpdatePage(attendance.AttendanceId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(attendance.AttendanceId)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>